.body {
    min-height: 100%;
}
.home-container {
    display: flex;
    height: 100vh;
}

.home-item {
    width: 200px; 
    margin: 10px;
    background-color: rgb(207, 62, 62);
}

.home-item-1 {
    min-height: 100px;
    min-width: 10vw;
}

.home-item-2 {
    min-height: 100px;
    
}

.home-item-3 {
    min-height: 100px;
    min-width: 80vw;
}