/* Navbar.css */
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
  }
  
  .navbar-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar-links {
    list-style: none;
    justify-content: center;
    display: flex;
    margin: auto;
    gap: 200px;
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #ff5733;
  }
  